.button {
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
	transition: all 0.2s;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

.primary {
	background-color: var(--primary);
	color: var(--white);
}

.primary:hover {
	background-color: var(--primary-hover);
}

.ghost {
	border: 1px solid var(--gray-light);
	background: none;
	color: var(--black);
}

.ghost:hover {
	box-shadow: 3px 2px 2px var(--gray);
}

.arrow {
	display: inline-block;
	margin-left: 10px;
}

.down {
	transform: rotate(90deg);
	transition: all 0.2s;
}
