.firstLevel {
	display: grid;
	grid-template-columns: 24px 1fr;
	align-items: center;
	margin-top: 20px;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	gap: 20px;
}

.firstLevelList {
	padding: 0;
	list-style: none;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondLevel {
	margin-bottom: 10px;
	padding: 0;
	border: none;
	background: none;
	color: var(--gray-dark);
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
	text-transform: uppercase;
	cursor: pointer;
}

.secondBlock {
	margin-top: 15px;
	margin-left: 12px;
	padding: 0;
	padding-left: 32px;
	border-left: 1px solid #DFDFDF;
	list-style: none;
}

.secondLevelBlock {
	padding: 0;
	overflow: hidden;
	list-style: none;
}

.thirdLevel {
	display: block;
	margin-bottom: 10px;
	outline-offset: -1px;
	color: var(--gray-dark);
	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	cursor: pointer;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}
